.contact {
    padding-bottom: 130px
  }
  
  .contact .info {
    padding: 30px;
    background: #e6bfc7;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, .12)
  }
  
  .contact .info i {
    font-size: 20px;
    color: #ffe;
    float: left;
    width: 44px;
    height: 44px;
    background: #601615;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all .3s ease-in-out
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #050d18
  }
  
  .contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #601615
  }
  
  .contact .info .email p {
    padding-top: 5px
  }
  
  .contact .info .social-links {
    padding-left: 60px
  }
  
  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #601615;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: .3s;
    margin-right: 10px
  }
  
  .contact .info .social-links a:hover {
    background: #922858;
    color: #601615
  }
  
  .contact .info .address:hover i,
  .contact .info .email:hover i,
  .contact .info .phone:hover i {
    background: #922858;
    color: #fff
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0)
    }
  
    100% {
      transform: rotate(360deg)
    }
  }