@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(/assets/css/portfolio.css);
@import url(/assets/css/loading.css);
@import url(/assets/css/contact.css);
@import url(/assets/css/faq.css);
@import url(/assets/css/postcard.css);
@import url(/assets/css/testimonials.css);
@import url(/assets/css/gallery.css);
@import url(/assets/css/timeline.css);

@font-face {
  font-family: tangak;
  src: url(/assets/fonts/tangak.ttf) format("truetype"),
    url(/assets/fonts/tangak.woff) format("woff");
  font-style: normal;
}

body {
  opacity: 0;
  transition: opacity 0.5s;
}

body {
  font-family: Rubik, sans-serif;
  color: #272829;
  background-color: #e6bfc7;
}

a {
  color: #922858;
  text-decoration: none;
}

a:hover {
  color: #822e46;
  text-decoration: none;
  transform: scale(1.1);
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #601615;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #e14591;
  color: #b20933;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #601615;
}

#header .profile h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: tangak;
  font-style: normal;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #d3b1c2;
  color: #601615;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #601615;
  color: #fff;
  text-decoration: none;
}

#main {
  margin-left: 300px;
}

.container,
.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }

  .container,
  .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.nav-menu {
  padding: 18px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #e6bfc7;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #e6bfc7;
}

.nav-menu .active,
.nav-menu .active:focus,
.nav-menu a:hover,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu a:hover i,
.nav-menu li:hover > a i {
  color: #922858;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: 0 !important;
  background-color: #922858;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

section {
  padding: 60px 0;
  overflow: hidden;
  width: 100%;
}

.section-bg {
  background: #e6bfc7;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #601615;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #922858;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #c91959;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.textabout {
  color: #601615;
  font-weight: 700;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #601615;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

#footer {
  position: relative;
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
  color: #922858;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

.client-slider {
  background: #e6bfc7;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.client-slider::after,
.client-slider::before {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(white),
    to(rgba(255, 255, 255, 0))
  );
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.client-slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.client-slider::before {
  left: 0;
  top: 0;
}

.client-slider .client-slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: -webkit-box;
  display: flex;
  width: calc(250px * 14);
}

.client-slider .client-slide {
  height: 100px;
  width: 250px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 2%;
  top: 5%;
  height: 100%;
  width: 100%;
  position: absolute;
}

.badge {
  display: block;
  position: relative;
  width: 20rem;
  height: 20rem;
  cursor: pointer;
  background: url(/assets/img/profile-img.jpg) no-repeat 100% 50%;
  background-size: 120%;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
}

.badge:hover {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.75);
  background-position: 0 50%;
}

.badge:hover .text {
  transform: rotate(-45deg) translate(0) rotate(-315deg);
  background: rgba(100, 0, 7, 0.5);
  width: 20rem;
  letter-spacing: 1rem;
  line-height: 20rem;
  height: 20rem;
  margin-top: -7rem;
  margin-left: -11rem;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1),
    letter-spacing 1.5s ease-out;
}

.badge .text {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  left: 55%;
  top: 35%;
  margin-top: -10rem;
  margin-left: -10rem;
  font-size: 2rem;
  font-family: tangak;
  font-style: normal;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: rgba(100, 0, 7, 0.5);
  transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.reveal {
  color: #601615;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  font-family: tangak;
  font-style: normal;
}

.reveal-demo {
  height: 100vh;
  font-size: 80px;
  font-weight: 700;
  transition: all 0.2s;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  display: grid;
  place-items: center;
  z-index: 1;
  cursor: pointer;
  position: relative;
  padding: 20px;
}

#hero .reveal span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.reveal .S:after {
  content: "Специалист по недвижимости";
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  bottom: -90px;
  left: 50%;
  color: #e6bfc7;
  width: 200px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.reveal .A:after {
  content: "Агентство недвижимости Юриэлт";
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  bottom: 50px;
  left: 50%;
  color: #e6bfc7;
  width: 200px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.reveal:hover {
  color: rgba(255, 255, 255, 0.1);
}

.reveal:hover span {
  -webkit-transform: scale(2);
  transform: scale(2);
  color: #fff;
  margin: 0 1px;
}

.reveal:hover span:after {
  opacity: 1;
  -webkit-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
}

#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/hero-bg.webp) top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero .reveal p span {
  color: #fff;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #0a0531;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero .reveal {
    font-size: 0.7em;
    margin-left: 30px;
    pointer-events: none;
  }
}

.quote-box {
  border-radius: 3px;
  -webkit-box-shadow: 7px 18px 56px -27px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 18px 56px -27px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 18px 56px -27px rgba(0, 0, 0, 0.75);
  position: relative;
  margin: 8% auto auto auto;
  display: table;
  background-color: #d3b1c2;
}

.quote-box .quote-text {
  text-align: center;
  min-height: 100px;
  clear: both;
  font-weight: 500;
  font-size: 1.25em;
  transition: height 0.66s ease-out;
}

.quote-box .quote-text i {
  text-align: center;
  display: block;
  float: none;
  font-size: 20px;
}

.quote-box blockquote {
  background: #d3b1c2;
  border-left: 10px solid #601615;
  margin: 1.5em 10px;
  padding: 2em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.quote-box blockquote:before {
  color: #601615;
  font-size: 4em;
  content: open-quote;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.1em;
  float: left;
}

.container-service {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

.container-service .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.container-service .card .content {
  padding: 20px;
  text-align: center;
}

.container-service .card .content .title h3 {
  font-size: 1.8em;
  color: #601615;
  z-index: 1;
}

.container-service .card .content p {
  font-size: 1em;
  color: #601615;
  font-weight: 300;
}

.container-service .card .content a {
  position: relative;
  display: inline-block;
  margin-top: 16px;
  padding: 8px 20px;
  background: #601615;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
