@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(/assets/css/loading.css);
@import url(/assets/css/contact.css);
@import url(/assets/css/faq.css);
@import url(/assets/css/testimonials.css);
@import url(/assets/css/gallery.css);
@import url(/assets/css/timeline.css);

@font-face {
  font-family: tangak;
  src: url(/assets/fonts/tangak.ttf) format("truetype"),
    url(/assets/fonts/tangak.woff) format("woff");
  font-style: normal;
}

body {
  font-family: Rubik, sans-serif;
  color: #272829;
  background-color: #e6bfc7;
}

a {
  color: #922858;
  text-decoration: none;
}

a:hover {
  color: #822e46;
  text-decoration: none;
  transform: scale(1.1);
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

section {
  padding: 90px 0;
  overflow: hidden;
  width: 100%;
}

#hero {
  padding: 60px 0;
  overflow: hidden;
  width: 100%;
}

.section-bg {
  background: #e6bfc7;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #601615;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #922858;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #c91959;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.textabout {
  color: #601615;
  font-weight: 700;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #601615;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 2%;
  top: 5%;
  height: 100%;
  width: 100%;
  position: absolute;
}

.badge {
  display: block;
  position: relative;
  width: 20rem;
  height: 20rem;
  cursor: pointer;
  background: url(/assets/img/profile-img.jpg) no-repeat 100% 50%;
  background-size: 120%;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
}

.badge:hover {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.75);
  background-position: 0 50%;
}

.badge:hover .text {
  transform: rotate(-45deg) translate(0) rotate(-315deg);
  background: rgba(100, 0, 7, 0.5);
  width: 20rem;
  letter-spacing: 1rem;
  line-height: 20rem;
  height: 20rem;
  margin-top: -7rem;
  margin-left: -11rem;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1),
    letter-spacing 1.5s ease-out;
}

.badge .text {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  left: 55%;
  top: 35%;
  margin-top: -10rem;
  margin-left: -10rem;
  font-size: 2rem;
  font-family: tangak;
  font-style: normal;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: rgba(100, 0, 7, 0.5);
  transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.quote-box {
  border-radius: 3px;
  -webkit-box-shadow: 7px 18px 56px -27px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 18px 56px -27px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 18px 56px -27px rgba(0, 0, 0, 0.75);
  position: relative;
  margin: 8% auto auto auto;
  display: table;
  background-color: #d3b1c2;
}

.quote-box .quote-text {
  text-align: center;
  min-height: 100px;
  clear: both;
  font-weight: 500;
  font-size: 1.25em;
  transition: height 0.66s ease-out;
}

.quote-box blockquote {
  background: #d3b1c2;
  border-left: 10px solid #601615;
  margin: 1.5em 10px;
  padding: 2em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.quote-box blockquote:before {
  color: #601615;
  font-size: 4em;
  content: open-quote;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.1em;
  float: left;
}

.container-service {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

.container-service .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.container-service .card .content {
  padding: 20px;
  text-align: center;
}

.container-service .card .content p {
  font-size: 1em;
  color: #601615;
  font-weight: 300;
}

.container-pulse {
  width: 200px;
  height: 30%;
  margin: 0 auto 0;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.pulse-button {
  position: relative;
  top: 50%;
  left: 30%;
  margin-left: -50px;
  margin-top: -50px;
  display: block;
  width: 150px;
  height: 150px;
  font-size: 1.3em;
  font-weight: light;
  font-family: Rubik, sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 80px;
  letter-spacing: -1px;
  color: #d3b1c2;
  border: none;
  border-radius: 50%;
  background: #601615;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
  -webkit-animation: pulse 1.5s infinite;
}

.pulse-button:hover {
  -webkit-animation: none;
  color: #d3b1c2;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }

  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

.logo-slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.logo-slider::before {
  left: 0;
  top: 0;
}

.logo-slider .logo-slide-track {
  -webkit-animation: logo-scroll 60s linear infinite;
  animation: logo-scroll 60s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.logo-slider .slide {
  height: 100px;
  width: 250px;
  padding: 20px;
}

@-webkit-keyframes logo-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes logo-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin-left: 20%;
  height: 100vh;
}

.left-slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.left-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.left-slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.right-slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}

.right-slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}

button {
  background-color: #601615;
  border: none;
  color: #fefefe;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
}

button:hover {
  color: #d3b1c2;
}

button:focus {
  outline: none;
}

.slider-container .action-buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}

.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 768px) {
  .slider-container {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 1199px) {
  .slider-container {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .slider-container {
    width: 100%;
    margin: 0;
  }
}

strong {
  font-weight: 600;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #601615;
  color: #fff;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 999;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 999;
}

#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;

  transition: 0.3s;
}

#nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0.6;
}

#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: 0.3s;
}

.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #d3b1c2;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color 0.1s;
  text-decoration: none;
  color: #601615;
}

#nav-content li a:hover {
  color: #bf7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
  flex-flow: row wrap;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}

.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

.headerTitle {
  font-size: 2em;
  font-family: tangak;
  font-style: normal;
}

.waves-effect {
  text-decoration: none;
  cursor: pointer;
  color: #e6bfc7;
}

@media (max-width: 768px) {
  .headerTitle {
    display: none;
  }
}

button.learn-more {
  width: 12rem;
  height: auto;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #d3b1c2;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #601615;
}

#containerheader {
  margin-left: 5%;
}
