@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(/assets/css/loading.css);
@import url(/assets/css/contact.css);
@import url(/assets/css/faq.css);
@import url(/assets/css/testimonials.css);
@import url(/assets/css/gallery.css);
@import url(/assets/css/timeline.css);
@import url(/assets/css/backtotop.css);

@font-face {
  font-family: tangak;
  src: url(/assets/fonts/tangak.ttf) format("truetype"),
    url(/assets/fonts/tangak.woff) format("woff");
  font-style: normal;
}

body {
  font-family: Rubik, sans-serif;
  color: #272829;
  background-color: #e6bfc7;
}

a {
  color: #922858;
  text-decoration: none;
}

a:hover {
  color: #822e46;
  text-decoration: none;
  transform: scale(1.1);
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

section {
  padding: 90px 0;
  overflow: hidden;
  width: 100%;
}

#hero {
  padding: 60px 0;
  overflow: hidden;
  width: 100%;
}

.section-bg {
  background: #e6bfc7;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #601615;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #922858;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #c91959;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.textabout {
  color: #601615;
  font-weight: 700;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #601615;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 2%;
  top: 5%;
  height: 100%;
  width: 100%;
  position: absolute;
}

.badge {
  display: block;
  position: relative;
  width: 20rem;
  height: 20rem;
  cursor: pointer;
  background: url(/assets/img/profile-img.jpg) no-repeat 100% 50%;
  background-size: 120%;
  border-radius: 50%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.75);
}

.badge:hover {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.75);
  background-position: 0 50%;
}

.badge:hover .text {
  transform: rotate(-45deg) translate(0) rotate(-315deg);
  background: rgba(100, 0, 7, 0.5);
  width: 20rem;
  letter-spacing: 1rem;
  line-height: 20rem;
  height: 20rem;
  margin-top: -7rem;
  margin-left: -11rem;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1),
    letter-spacing 1.5s ease-out;
}

.badge .text {
  display: block;
  position: absolute;
  width: 10rem;
  height: 10rem;
  line-height: 10rem;
  left: 55%;
  top: 35%;
  margin-top: -10rem;
  margin-left: -10rem;
  font-size: 2rem;
  font-family: tangak;
  font-style: normal;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: rgba(100, 0, 7, 0.5);
  transform: rotate(-180deg) translate(-10rem) rotate(180deg);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.quote-box {
  border-radius: 3px;
  -webkit-box-shadow: 7px 18px 56px -27px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 18px 56px -27px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 18px 56px -27px rgba(0, 0, 0, 0.75);
  position: relative;
  margin: 8% auto auto auto;
  display: table;
  background-color: #d3b1c2;
}

.quote-box .quote-text {
  text-align: center;
  min-height: 100px;
  clear: both;
  font-weight: 500;
  font-size: 1.25em;
  transition: height 0.66s ease-out;
}

.quote-box blockquote {
  background: #d3b1c2;
  border-left: 10px solid #601615;
  margin: 1.5em 10px;
  padding: 2em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.quote-box blockquote:before {
  color: #601615;
  font-size: 4em;
  content: open-quote;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.1em;
  float: left;
}

.container-service {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  z-index: 1;
}

.container-service .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.container-service .card .content {
  padding: 20px;
  text-align: center;
}

.container-service .card .content p {
  font-size: 1em;
  color: #601615;
  font-weight: 300;
}


.logo-slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.logo-slider::before {
  left: 0;
  top: 0;
}

.logo-slider .logo-slide-track {
  -webkit-animation: logo-scroll 60s linear infinite;
  animation: logo-scroll 60s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(250px * 14);
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.logo-slider .slide {
  height: 100px;
  width: 250px;
  padding: 20px;
}

@-webkit-keyframes logo-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes logo-scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-250px * 7));
    transform: translateX(calc(-250px * 7));
  }
}

strong {
  font-weight: 600;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #601615;
  color: #fff;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 999;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: 999;
}

#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;

  transition: 0.3s;
}

#nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0.6;
}

#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: 0.3s;
}

.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}

#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}

#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #d3b1c2;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
  transition: transform 0.3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color 0.1s;
  text-decoration: none;
  color: #601615;
}

#nav-content li a:hover {
  color: #bf7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
  flex-flow: row wrap;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}

.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}

.headerTitle {
  font-size: 2em;
  font-family: tangak;
  font-style: normal;
}

.waves-effect {
  text-decoration: none;
  cursor: pointer;
  color: #e6bfc7;
}


#containerheader {
  margin-left: 5%;
}

.hero-slider {
  position: relative;
}

.single-hs-item {
  height: 40em;
  position: relative;
}

.single-hs-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.6;
}

.item-bg1 {
  background-image: url(/assets/img/1.webp);
  background-position: center;
  background-size: cover;
}

.item-bg2 {
  background-image: url(/assets/img/2.webp);
  background-position: cover center;
  background-size: cover;
}

.item-bg3 {
  background-image: url(/assets/img/3.webp);
  background-position: center cover;
  background-size: cover;
}

.hero-text {
  padding: 0 15px;
  text-align: center;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.hero-text h1 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0;
  font-size: 5rem;
  font-family: tangak;
  font-style: normal;
}

.herotext1 {
  padding-top: 18%;
}

.hero-text p {
  color: #fff;
  font-size: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 35px;
}

.hero-slider .owl-item.active h1 {
  -animation: 1s 0.3s fadeInUp both;
}

.hero-slider .owl-item.active p {
  -webkit-animation: 1s 0.3s fadeInUp both;
  animation: 1s 0.3s fadeInUp both;
}

.hero-slider .owl-item.active .slider-btn {
  -webkit-animation: 1s 0.3s fadeInUp both;
  animation: 1s 0.3s fadeInUp both;
}

.owl-carousel .owl-nav button.owl-prev {
  background-color: #601615;
  position: absolute;
  left: 0;
  top: 50%;
  color: #fff;
  font-size: 30px;
  margin: -40px 0 0;
  border-radius: 0;
  height: 50px;
  width: 50px;
}

.owl-carousel .owl-nav button.owl-next {
  background-color: #601615;
  position: absolute;
  right: 0;
  top: 50%;
  color: #fff;
  font-size: 30px;
  margin: -40px 0 0;
  border-radius: 0;
  height: 50px;
  width: 50px;
}

.owl-theme .owl-nav {
  margin-top: 0;
}

.owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 11px;
  height: 20px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #601615;
}

@media only screen and (max-width: 600px) {
  .single-hs-item {
    height: 550px;
  }

  .hero-text h1 {
    font-size: 30px;
    padding-top: 58%;
  }

  .hero-text p {
    font-size: 15px;
    margin-bottom: 25px;
  }

  .owl-carousel .owl-nav button.owl-next {
    top: auto;
    margin: 0;
    bottom: 0px;
  }

  .owl-carousel .owl-nav button.owl-prev {
    top: auto;
    margin: 0;
    bottom: 0px;
  }

  .owl-dots {
    bottom: 10px;
    left: 50px;
    right: 50px;
  }

  .herotext1 {
    padding-top: 18%;
  }
}

.d-table {
  width: 100%;
  height: 100%;
  display: table;
}

.d-tablecell {
  display: table-cell;
  vertical-align: middle;
}

.custom-btn1 {
  background-color: #601615;
  color: #fff;
  border: 1px solid #601615;
  display: inline-block;
  padding: 12px 30px;
  text-transform: uppercase;
  border-radius: 30px;
  text-decoration: none;
}

.custom-btn1:hover {
  background-color: transparent;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 768px) {
  .headerTitle {
    display: none;
  }

  .headerPhone{ display: none;}

  .HeaderPhoneTitle {
    margin-left: 15%;
  }


}

.headerPhone {
  color: #fff;
 

}

.headerPhone:hover {
  color: #fff;
}

.HeaderPhoneTitle {
  margin-left: 5%;
}

/* SNOW */
.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  pointer-events: none;
}

.snowflake {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
}

@keyframes fall {
  0% {
      opacity: 0;
      transform: translateY(0);
  }
  10% {
      opacity: 1;
  }
  100% {
      opacity: 0.5;
      transform: translateY(100vh);
  }
}

@keyframes diagonal-fall {
  0% {
      opacity: 0;
      transform: translate(0, 0);
  }
  10% {
      opacity: 1;
  }
  100% {
      opacity: 0.25;
      transform: translate(10vw, 100vh);
  }
}




